In [9]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
# Load the Iris dataset
iris = load_iris()

# Convert the numpy array to a DataFrame using pandas
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)


# Write the iris_df DataFrame to a CSV file
iris_df.to_csv('iris_data.csv', index=False)


# Write the iris_df DataFrame to a CSV file
iris_df.to_csv('iris_data.csv', index=False)
#For to use the "na_values" parameter in read_csv to specify missing values.


# Read the CSV file
# Viewing rows containing "0.2" or "?" using the na_values parameter.
iris_df_from_csv = pd.read_csv('iris_data.csv', na_values=['0.2'])
# I represented a number in a column as a NaN value as there are no missing values in the iris dataset.
#iris_df_from_csv = pd.read_csv('iris_data.csv', na_values={'sepal length (cm)': 0.2})

names= iris_df_from_csv.columns
print(names)

print("\n")

print(iris_df_from_csv)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')


     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               NaN
1                  4.9               3.0                1.4               NaN
2                  4.7               3.2                1.3               NaN
3                  4.6               3.1                1.5               NaN
4                  5.0               3.6                1.4               NaN
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
#checking the row and column length of the iris_df_from_csv
iris_df_from_csv.shape

(150, 4)

In [11]:
#The number of NaN values per feature can be determined as follows:
print(np.isnan(iris_df_from_csv).sum())

sepal length (cm)     0
sepal width (cm)      0
petal length (cm)     0
petal width (cm)     29
dtype: int64

In [12]:
# deleting rows which contains NaN values
iris_df_from_csv.dropna(inplace=True)
print(iris_df_from_csv)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
9                  4.9               3.1                1.5               0.1
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[121 rows x 4 columns]